In [ ]:
# Holden Cormier & Diego Messmacher 
# Predicting Financial Statements Using Machine Learning

In [ ]:
# Prediction Using Decision Trees

In [22]:
import numpy as np 
import pandas as pd 



data = pd.read_excel('./data/Test.xlsx')
data.head(16)

,Dates,DEC '22,DEC '21,DEC '20,DEC '19,DEC '18,DEC '17,DEC '16,DEC '15,DEC '14,...,DEC '10,DEC '09,DEC '08,DEC '07,DEC '06,DEC '05,DEC '04,DEC '03,DEC '02,DEC '01
0,Sales,280.875000,257.488000,182.350000,161.402000,136.958000,111.024000,89.733000,73.590000,65.830000,...,29.118000,23.325858,21.795550,16.593986,10.604917,6.138560,3.189223,1.465934,0.439508,0.086426
1,Cost of Goods Sold (COGS) incl. D&A,126.203000,110.939000,84.732000,71.896000,59.549000,45.583000,35.138000,28.164000,25.313000,...,10.417000,8.844115,8.621506,6.649085,4.225027,2.571509,1.457653,0.625854,0.131510,0.014228
2,Depreciation & Amortization Expense,15.928000,12.441000,13.697000,11.781000,9.035000,6.915000,6.144000,5.063000,4.602000,...,1.396000,1.524308,1.499887,0.967658,0.571939,0.293812,0.148473,0.050185,0.018030,0.010025
3,Gross Income,154.672000,146.549000,97.618000,89.506000,77.409000,65.441000,54.595000,45.426000,40.517000,...,18.701000,14.481743,13.174044,9.944901,6.379890,3.567051,1.731570,0.840080,0.307998,0.072198
4,SG&A Expense,81.791000,67.984000,56.571000,54.033000,45.878000,36.390000,31.418000,27.465000,23.814000,...,8.523000,6.494262,6.542075,4.860501,2.789094,1.437773,0.879035,0.497616,0.099897,0.048851
5,EBIT (Operating Income),72.881000,78.565000,41.047000,35.473000,31.531000,29.051000,23.177000,17.961000,16.703000,...,10.178000,7.987480,6.631970,5.084400,3.590800,2.039280,0.852540,0.342460,0.186460,0.010970
6,Nonoperating Income - Net,2.109000,2.117000,2.011000,3.056000,4.396000,1.111000,1.472000,2.096000,1.213000,...,0.984000,0.471373,0.316383,0.590785,0.461303,0.125178,0.010906,0.006123,0.001015,0.000861
7,Interest Expense,0.357000,0.346000,0.135000,0.100000,0.114000,0.109000,0.124000,0.104000,0.101000,...,0.000000,0.000000,0.000000,0.001203,0.000257,0.000776,0.000862,0.001931,0.002570,0.001758
8,Other Expense,3.305000,-10.398000,-5.159000,-1.196000,0.900000,2.860000,0.375000,0.302000,0.556000,...,0.366000,0.077668,1.094757,0.000000,0.040800,0.022000,0.212343,NaN,NaN,NaN
9,Pretax Income,71.328000,90.734000,48.082000,39.625000,34.913000,27.193000,24.150000,19.651000,17.259000,...,10.796000,8.381189,5.853596,5.673980,4.011040,2.141677,0.650234,0.346654,0.184915,0.010068
10,Income Taxes,11.356000,14.701000,7.813000,5.282000,4.177000,14.531000,4.672000,3.303000,3.639000,...,2.291000,1.860741,1.626738,1.470260,0.933594,0.676280,0.251115,0.241006,0.085259,0.003083
11,Net Income,59.972000,76.033000,40.269000,34.343000,30.736000,12.662000,19.478000,15.826000,13.620000,...,8.505000,6.520448,4.226858,4.203720,3.077446,1.465397,0.399119,0.105648,0.099656,0.006985
12,EPS (recurring),4.434394,5.072823,2.667846,2.398219,2.229964,1.042093,1.412647,1.157216,1.003187,...,0.678241,0.515095,0.393528,0.332674,0.321947,0.126958,0.050250,0.009669,0.010216,0.000936
13,EPS (diluted),4.269700,5.609900,2.930700,2.458100,2.185200,0.899800,1.393900,1.142000,0.974900,...,0.658400,0.510700,0.333100,0.332600,0.248700,0.125600,0.036500,0.009700,0.010300,0.001000
14,EBITDA,88.809000,91.006000,54.744000,47.254000,40.566000,35.966000,29.321000,23.024000,21.305000,...,11.574000,9.511790,8.131860,6.052060,4.162740,2.333090,1.001010,0.392640,0.204490,0.021000